USE [master]
GO
/****** Object:  Database [CINEMA]    Script Date: 5/27/2022 5:14:55 PM ******/
CREATE DATABASE [CINEMA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CINEMA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CINEMA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CINEMA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CINEMA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CINEMA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CINEMA]
GO
/****** Object:  Table [dbo].[Biglietto]    Script Date: 5/27/2022 5:14:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Biglietto](
	[IDBiglietto] [int] IDENTITY(1,1) NOT NULL,
	[Posto] [int] NULL,
	[Prezzo] [decimal](18, 0) NULL,
	[CodSala] [int] NULL,
	[CodFilm] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDBiglietto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cinema]    Script Date: 5/27/2022 5:14:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cinema](
	[IDCinema] [int] IDENTITY(1,1) NOT NULL,
	[IncassoGiornaliero] [decimal](18, 0) NOT NULL,
	[CodSala] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCinema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Film]    Script Date: 5/27/2022 5:14:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film](
	[IDFilm] [int] IDENTITY(1,1) NOT NULL,
	[Titolo] [varchar](30) NULL,
	[Autore] [varchar](30) NULL,
	[Produttore] [varchar](30) NOT NULL,
	[Genere] [varchar](30) NOT NULL,
	[Durata] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDFilm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalaCinematografica]    Script Date: 5/27/2022 5:14:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalaCinematografica](
	[IDSala] [int] IDENTITY(1,1) NOT NULL,
	[Capienza] [int] NULL,
	[NumeroSala] [int] NULL,
	[IncassoSala] [decimal](18, 0) NOT NULL,
	[CodFilm] [int] NULL,
	[NumBiglietti] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDSala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Spettatore]    Script Date: 5/27/2022 5:14:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Spettatore](
	[IDSpettatore] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](30) NULL,
	[Cognome] [varchar](30) NULL,
	[DataNascita] [date] NOT NULL,
	[CodBiglietto] [int] NULL,
	[Minore14] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDSpettatore] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Biglietto]  WITH CHECK ADD FOREIGN KEY([CodFilm])
REFERENCES [dbo].[Film] ([IDFilm])
GO
ALTER TABLE [dbo].[Biglietto]  WITH CHECK ADD FOREIGN KEY([CodSala])
REFERENCES [dbo].[SalaCinematografica] ([IDSala])
GO
ALTER TABLE [dbo].[Cinema]  WITH CHECK ADD FOREIGN KEY([CodSala])
REFERENCES [dbo].[SalaCinematografica] ([IDSala])
GO
ALTER TABLE [dbo].[SalaCinematografica]  WITH CHECK ADD FOREIGN KEY([CodFilm])
REFERENCES [dbo].[Film] ([IDFilm])
GO
ALTER TABLE [dbo].[Spettatore]  WITH CHECK ADD FOREIGN KEY([CodBiglietto])
REFERENCES [dbo].[Biglietto] ([IDBiglietto])
GO
USE [master]
GO
